<div class="bg-div">
  <BR>
  <div class = "grad">
  <div class="container topmargin bottommargin">
  <div class = "row">
    <div class = "col-md-2">
    </div>
    <div class = "col-md-3">
      <!-- <div class = "logo"> -->
      <img class = "img-responsive" style="max-width:250px;margin:0 auto;padding:10px;;" src="../app/img/nust-logo.png">
    <!-- </div> -->
    </div>
    <div class = "col-md-5">
  <div class = "appTitle">
  <strong>NUST</strong>COINS<br>
  </div>
      <form class="form-signin" role="form">
        <input ng-model="user.email" type="email" class="form-control" placeholder="Email address" required="" autofocus=""><br>
        <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required="">
        <label class="checkbox">
          <!-- <a href="#"> Sign Up</> -->
        </label>
        <a type="button" href = "#/mainpage" class="btn btn-lg btn-primary btn-block">Sign In</a>
      </form>
    </div>
    <div class = "col-md-2">
    </div>
    </div>
    <div class = "navbar navbar-fixed-bottom footer text-center">
        <h4>Made by Team Jalapeno.
    </div>
  </div>
  </div>
</div>
