<nav class="navbar navbar-fixed-top navbar-inverse navbar-right" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span style="color:white">NU</span>Coins</a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="#/mainpage">Page 1</a></li>
                <li class=""><a href="#/mainpage">Page 2</a></li>
            </ul>
            <div class="collapse navbar-collapse navbar-main-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class=""><a href="#/loginpage">Logout</a></li>
                </ul>
            </div>
        </div>
</nav>

<div class="jumbotron topmargin">
  <h1>Page 1</h1>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom navbar-shadow-up text-center" role="navigation">
  <div class = "navbar-brand text-center">
    Created by Team Jalapeno.
</nav>
